@import url('https://fonts.googleapis.com/css?family=Lato|Chewy&display=swap');

.event-form__container{
    
    justify-content: center;
    display: block;
    width: 80%;
    height:100%;
    box-shadow: 5px 5px 10px gray;
    border-radius: 15px;
    /* background-color: rgb(212, 231, 39); */
    background-image: url("../Images/subtle_white_mini_waves.png");
    /* background-image: linear-gradient(rgb(255, 255, 255),rgb(211, 60, 60)); */
    /* margin: 2rem auto 0 auto; */
    /* padding: 2rem; */
    font-family: Lato, 'Sans Serif';
    
}

.input-name{
    display: flex;
    justify-content: space-evenly;
    
}

.input-friends{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 250px;
    width: 50%;
    overflow-y: scroll;
    flex-wrap: wrap;
    align-content: stretch;
    background-color: white;
    border: 2px inset darkgray;

  
}
.user-icon { 
    grid-area: icon;
    left: 0;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 1px darkblue solid;
}
.user-icon:hover {
    box-shadow: 0px 0px 8px whitesmoke;
}
.user-name{
    grid-area: name;
    margin: auto;
    padding-right: 2rem;
}
.user-card {
    display: grid;
    grid-template-areas: 'icon name';
    cursor: pointer;
    background-color: rgb(154, 197, 253);
    border: 1px darkblue solid;
    border-radius: 5px;
    padding: .3rem;
    width: 44%;
    text-align: center;
    margin: .3rem
    
}

.user-card:HOVER {
    background-image: linear-gradient(rgb(154, 197, 253),rgb(154, 197, 253),rgb(89, 158, 248));
    border: 1px rgb(255, 255, 255) solid;
}
.new-category-icon {
    cursor: pointer;
    
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    background-image: radial-gradient(rgb(220, 220, 255), rgb(170, 170, 255), blue);
    border-radius: 100%;
    border: 2px unset blue;
    color: rgb(8, 0, 0);
    font-size: 1.8rem;
    padding: .1rem;
    line-height: 1.4rem;
    margin: 1.5rem 1.5rem 1.5rem 0;
}
.new-category-icon:hover {
    border: 1px inset blue;
}