@import url('https://fonts.googleapis.com/css?family=Lato|Chewy&display=swap');

.event-form__container{
    
    justify-content: center;
    display: flex;
    width: 60%;
    height:100%;
    margin: auto;
    padding: 2rem;
    box-shadow: 5px 5px 10px gray;
    border-radius: 15px;
    background-color: rgb(237, 243, 184);
    background-image: url("../Images/subtle_white_mini_waves.png");
    /* background-image: linear-gradient(rgb(255, 255, 255),rgb(211, 60, 60)); */
    /* margin: 2rem auto 0 auto; */
    /* padding: 2rem; */
    font-family: Lato, 'Sans Serif';
    
}

.input-name{
    display: flex;
    justify-content: space-evenly;
    
}

.input-friends{
    display: flex;
    /* justify-content: center; */
    flex-flow: row wrap;
    height: 250px;
    width: 100%;
    overflow-y: scroll;
    padding: .1rem;
    background-color: white;
    border: 2px inset darkgray;

  
}
.user-icon { 
    grid-area: icon;
    margin: auto;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 1px darkblue solid;
}
.user-icon:hover {
    box-shadow: 0px 0px 8px whitesmoke;
}
.user-name{
    grid-area: name;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    
}
.user-checkbox {
    grid-area: box;
    margin: auto;
}
.user-card {
    display: grid;
    grid-template-areas: 'box name icon';
    cursor: pointer;
    background-color: rgb(154, 197, 253);
    border: 1px darkblue solid;
    border-radius: 5px;
    padding: .1rem;
    width: 30%;
    height: 2.8rem;
    text-align: center;
    margin: .1rem
    
}

.user-card:HOVER {
    background-image: linear-gradient(rgb(154, 197, 253),rgb(154, 197, 253),rgb(89, 158, 248));
    border: 1px rgb(255, 255, 255) solid;
}
.new-category-icon {
    cursor: pointer;
    
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    background-image: radial-gradient(rgb(220, 220, 255), rgb(170, 170, 255), blue);
    border-radius: 100%;
    border: 2px unset blue;
    color: rgb(8, 0, 0);
    font-size: 1.8rem;
    padding: .1rem;
    line-height: 1.4rem;
    margin: 1.5rem 1.5rem 1.5rem 0;
}
.new-category-icon:hover {
    border: 1px inset blue;
}