@import "EventForm.css";
@import url('https://fonts.googleapis.com/css?family=Lato|Chewy&display=swap');


body {
	height: 100vh;
	font-family: Lato;
}

.app {
	width: 100%;
	height: 100%;

} 

/* header {
	width: 100%;
} */

.user-card__avatar{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.home-page-container {
	display: grid;
	width: 100%;
	height: 100%;

	grid-template-areas:
		"head head head head head head"
		"nav main main main main main"
		"nav main main main main main "
		"foot foot foot foot foot foot";

	grid-template-rows: 10% 40% 40% 10%;

	grid-template-columns: 10% 20% 20% 20% 20% 10%;
}

.home-page__header {
	position: relative;
	grid-area: head;
	display:flex;
	width:100%;
	height: 100px;
	/* background-color: #ffffff; */
	border-bottom:2px solid black ;
	box-shadow: 4px 4px 10px darkgray;
	font-family: Lato;
}

.home-page {
	width: 100%;
	height: 100%;
}

.nav-bar {
	
	grid-area: nav;
	margin: 0%;
	height: 100%;
	width:100%;
	background-color: whitesmoke;
	display:flex;
	flex-direction:column;
}

.events__hosting {
    display: flex;
	flex-direction: column;
	width: 100%;

}

.party-card {
    /* Use Grid instead of Flex */
    display: flex;
    justify-content: space-evenly;
	width: 100%;
	height: 4rem;
	border: 2px black solid;
	padding: 1rem;

}

.main-container {
	width: 100%;
	height: 100%;
	display: flex;
	grid-area: main;
	justify-content: center;
	align-content: center;

	
}
.main-container-event {
	padding: 3%;
	width: 100%;
	height: 100%;
	display: grid;
    grid-template-rows: 40% 40%;
    grid-template-columns: 20% 20% 20% 20% 20% ;
	grid-template-areas: "my-event my-event host host host" 
	"attendees attendees assignments assignments assignments";

	margin: 1rem auto;
    padding: 1rem;
    /* box-shadow: 5px 5px 10px gray; */
    border: 2px solid darkgray;
    border-radius: 15px;
    /* background-color: rgb(224, 224, 219); */
    background-image: url("../Images/subtle_white_mini_waves.png");
    text-align: center;
    font-family: Lato, 'Sans Serif';
}

/* .event-form__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.my-event {
	grid-area: my-event;
	width: 95%;
	height: 95%;


	/* border: 1px solid black; */
	/* padding: 1px; */

	background-color: whitesmoke;
}

.host {
	grid-area: host;
	width: 95%;
	height: 95%;
	/* border: 1px solid black; */
	/* padding: 1px; */

	background-color: whitesmoke;
}

.attendees {
	grid-area: attendees;
	width: 95%;
	height: 95%;
	/* border: 1px solid black; */
	/* padding: 1px; */
	display: flex;
	background-color: whitesmoke;
}

.assignments {
	grid-area: assignments;
	width: 95%;
	height: 95%;
	/* border: 1px solid black; */
	/* padding: 1px; */

	 background-color: whitesmoke; 
}

.footer {
	grid-area: foot;
	border: 1px solid black;
	/* padding: 1px; */

	 background-color: #8cffa0; 
}

.logo{
	height: 100px;
	width: 300px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	
}
.new-event{
	cursor: pointer;
	width: 8rem;
	height: 8rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.4rem;
	color: whitesmoke;
	border: 2px solid black;
	border-radius: 100%;
	background-image: radial-gradient(skyblue, skyblue, darkblue)
}

.notification{
	grid-area: note;
	height: 100%;
	width: 100%;
	/* display:flex;
	justify-content: center; */
	/* background-color: #8cffa0; */
}

.invitation-card,.host-card, .attending-card{
	width: 100%;
	/* display: flex;
	flex-direction:column;
	align-content: space-around; */
	text-align:center;
	padding:5px;
	/* position: relative; */
	/* border: 5px solid #666; */
	box-sizing:border-box;
	box-shadow: inset -5px -5px 5px #888;
	margin-bottom: 5px;
	border: 2px solid #666;
}

.host-card{
	background-image: url("./star.jpeg");
	background-size:100% 100%;
    background-repeat: no-repeat;
	background-position: center;
}

.host__image{
	width: 100px;
	height: 200px;
}

/* .attending-card{
	cursor: pointer;
	background-color: darkkhaki;
	border-radius: 15px;
	margin: 2px;
} */

.attendee__list-item{
	display: flex;
	flex-direction: column;
	width: 100px;
	background-color: darkgray;
	margin: .1rem;
}
.attendees__list-item-image{
	width: 100px;
	height: 100px;
	border-radius: 100%;
}
.attendees__list-item-name{
	position: static;
	text-align: center;
	font-size: 1rem;
	color: black;
	left: 0;
	right: 0;
}
.attendees__list{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 150px;

	flex-direction: row;
	flex-wrap: column wrap;
	overflow-y: scroll;
}
