.user-card__avatar{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.home-page-container {
	display: grid;
	width: 100vw;
	height: 100vh;

	grid-template-areas:
		"logo head head head head note"
		"nav main main main main main"
		"nav main main main main main "
		"foot foot foot foot foot foot";

	grid-template-rows: 10% 40% 40% 10%;

	grid-template-columns: 10% 20% 20% 20% 20% 20%;
}

.home-page__header {
	grid-area: head;
	display:flex;
	width:100%;
	/* border: 1px solid black; */
	/* padding: 1px; */
	background-color: #8ca0ff;
}

.app > nav {
	grid-area: nav;
	/* border: 1px solid black; */
	/* padding: 1px; */
	background-color: #ffa08c;
}

.events__hosting {
    display: flex;
	flex-direction: column;
	width: 100%;

}

.party-card {
    /* Use Grid instead of Flex */
    display: flex;
    justify-content: space-evenly;
	width: 100%;
	height: 4rem;
	border: 2px black solid;
	padding: 1rem;

}

.main-container {
	width: 70%;
	height: 100%;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	grid-area: main;
    display: flex;
    align-content: center;
	/* grid-area: main;
    grid-template-rows: 50% 50%;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    grid-template-areas: 
    "my-event my-event host host host"
    "attendees attendees assignments assignments assignments"; */
}

.event-form__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-event {
	grid-area: my-event;
	width: 50%;
	height: 50%;
	/* border: 1px solid black; */
	/* padding: 1px; */

	background-color: #7a7a2c;
}

.host {
	grid-area: host;
	width: 50%;
	height: 50%;
	/* border: 1px solid black; */
	/* padding: 1px; */

	background-color: #ff64ac;
}

.attendees {
	grid-area: attendees;
	width: 50%;
	height: 50%;
	/* border: 1px solid black; */
	/* padding: 1px; */

	background-color: #ffff64;
}

.assignments {
	grid-area: assignments;
	width: 50%;
	height: 50%;
	/* border: 1px solid black; */
	/* padding: 1px; */

	 background-color: #a89fdb; 
}

#page > footer {
	grid-area: foot;
	border: 1px solid black;
	/* padding: 1px; */

	 background-color: #8cffa0; 
}

.logo{
	grid-area: logo;
	height: 100%;
	/* display:flex;
	justify-content: center; */
	background-color: #8cffa0;
}

.notification{
	grid-area: note;
	/* display:flex;
	justify-content: center; */
	background-color: #8cffa0;
}
